<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Excepcion de quicko</title>
<style type="text/css">
	.asunto{
		font-size: 1.7em;
	}
	.mensaje{
		font-size:1em;
	}
	
	.leyenda{
		font-size:0.6em;
	}
</style>
</head>
<body>
<h3 class="asunto">Asunto: ${asunto}</h3>
<p>
${comentarios}
</p>
<br/>
-----------------------------------
<h5 class="origen">De: ${nombreContacto}</h5>
<h5 class="telefono">Tel: ${telefonoContacto}</h5>
<h5 class="email">Email: ${emailContacto}</h5>

<a href="http://wwww.quuiko.com">Quuicko.com</a>
</body>
</html>